
.c-author {
  display: block;
  text-align: left;

  @include above(desk) {

    &[class][class][class] {
      text-align: right;
      max-width: 12em;
      margin-left: auto;
    }
  }
}

.c-author__avatar img {
  @include above(desk) {
    margin-left: auto;
  }
}


.c-author__avatar {
  max-width: none;
}

.c-author__avatar + .c-author__details {
  margin-top: 2rem;
  padding-left: 0;
}

.c-author__name[class] {
  margin-bottom: 1rem;
  color: $theme-accent-color;
}

@mixin caption {
  font-size: 0.765em;
}

.c-author__details {
  @include caption;

  a {
    text-decoration: none;
  }
}

//.c-author__description[class] {
//  margin-bottom: 1rem;
//}

.c-author__avatar,
.c-author__footer {
  display: none;
}

.c-author__description[class] {
  margin-bottom: 0;
}