// Author Box 
// Header Version (near title)
// ----------------------------------------
.c-header__author {

  .c-author {
    display: block;
    text-align: left;

    @include above(desk) {

      &[class][class] {
        text-align: right;
        max-width: 10em;
        margin-left: auto;
      }
    }
  }

  .c-author__avatar img {
    @include above(desk) {
      margin-left: auto;
    }
  }

  .c-author__avatar {
    max-width: none;
  }

  .c-author__avatar + .c-author__details {
    margin-top: 2rem;
    padding-left: 0;
  }

  .c-author__name {
    margin-bottom: 1rem;
    color: $theme-accent-color;
  }

  @mixin caption {
    font-size: 0.720em;
  }

  .c-author__details {
    @include caption;

    .c-author__description {
      opacity: 0.8;
    }

    a {
      text-decoration: none;
    }
  }

  .c-author__avatar,
  .c-author__footer {
    display: none;
  }

  .c-author__description[class] {
    margin-bottom: 0;
  }
}

// Author Box 
// Footer version
// ----------------------------------------
.entry-footer {

  // Box Styling
  .c-author {

    @include spacing(margin-top, 3rem);
    @include spacing(margin-bottom, 3rem);
    @include spacing(padding, 3rem);

    background: $sm-light-secondary;
  }

  .c-author__avatar {
    display: block;
    border-radius: 0px;
    overflow: hidden;
    transform: rotate(-3deg);

    + .c-author__details {
      padding-left: 2rem;
    }

    img {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .c-author__name:not(:last-child) {
    margin-bottom: 1rem;
  }

  .c-author__description {
    margin-bottom: 1.5rem;
  }

  .c-author__footer {

  }

  .c-author__links {
    a {
      // color: $theme-accent-color;

      .u-underlined-links & {
        text-decoration: none;
      }
    }
  }
}

