$header-horizontal-spacing: 28px;
$header-horizontal-position-top: 20px;
$header-horizontal-profile-rotation: -1deg;

$header-vertical-spacing: 25px;
$header-vertical-position-top: 25px;

.c-navbar__zone--branding {
    
    // Grid
    // Vertical Layout
    @include above(lap) {

        body.blog & {
            transform: translateY(0px) rotate(1deg);
            transition: all $transition--macro ease;

            &:hover {
                transform: translateY(-30px) rotate(-1deg);
            }
        }
    }

    // Single and Pages
    // Horizontal Layout
    body:not(.blog) & {

        .c-branding {
            transition: $transition--default;
        }

        .profile-photo {
            transform: rotate($header-horizontal-profile-rotation);
            transition: $transition--default;
        }

        &:hover {

            .c-branding {
                transform: translateY(-$header-horizontal-position-top/3*2);
            }

            .profile-photo {
                transform: scale(0.92) rotate(2deg);
            }

            .header:after {
                transform: translateY(-$header-horizontal-position-top) rotate(0deg); 
            }
        }
    }

    a:hover img {
        opacity: 1;
    }
}

.header {
    position: relative;
}

.site-title {
    display: inline-block;
    white-space: nowrap;
}

@mixin branding-grid {

    .c-branding {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 3fr auto auto auto 2fr;

        &:before {
            content: "";
            display: block;
            grid-row: 1 / 2;
            min-height: 30px;
        }

        &:after {
            content: "";
            display: block;
            grid-row: 5 / 6;
        }
    }

    .c-profile-photo {
        grid-column: 1;
        grid-row: 1 / 6;
    }

    .c-logo {
        grid-column: 2;
        grid-row: 2 / 3;
    }

    .c-logo__title {
        grid-column: 2;
        grid-row: 3 / 4;
    }

    .site-description {
        grid-column: 2;
        grid-row: 4 / 5;
    }
}

@include above(lap) {

    // Grid
    // Vertical Layout
    body.blog {

        .header {
            margin-top: -($site-content-top-spacing - $header-vertical-position-top); // -72px
            padding: $header-vertical-spacing;
            background: $sm-light-secondary;
        }

        * + .c-logo {
            margin-top: 1.5em;
        }

        * + .c-logo__title,
        * + .site-description {
            margin-top: 1em;
        }

        .site-description {
            font-size: 17/15 * 1em;
            line-height: (26/17);
        }


        .c-logo__title {
            margin-bottom: -0.5em;
        }
    }

    // Single and Pages
    // Horizontal Layout
    body:not(.blog) {
        @include branding-grid;

        .header {
            margin-top: -($site-content-top-spacing - $header-horizontal-position-top); // -77px
        }

        .c-branding {
            // margin-top: -50px;
            margin-top: -($header-horizontal-spacing + $header-horizontal-position-top + 2px); // -50px
        }

        .header {
            padding: $header-horizontal-spacing;
            padding-bottom: 0;


            // Separate the background
            // to make it "animatable" on hover
            &:after {
                position: absolute;
                content: "";
                display: block;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                z-index: -1;

                background: #ffffff;

                transition: $transition--default;
            }
        }

        .c-profile-photo {
            padding-right: $header-horizontal-spacing;
        }

        .profile-photo-link {
            max-width: 150px;
        }

        .site-description {
            font-size: 13/15 * 1em;
            line-height: (19/13);

            margin-top: 0.5em;
        }

        // Use cases

    }
}

@include below(lap) {

    .header {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: auto;
        padding: 0 10px;
        background: #ffffff;
    }

    .c-profile-photo {
        margin-top: -10px;
    }

    .profile-photo-link {
        max-width: 85px;
    }

    @include branding-grid;

    .site-description {
        display: none;
    }

    .c-logo,
    .c-logo__title,
    .site-description {
        margin-right: 20px;

        .c-profile-photo ~ & {
            margin-left: 30px;
        }
    }

    :not(.c-profile-photo) + .c-logo__title,
    :not(.c-profile-photo) + .site-description {
        margin-top: 1em;
    }
}

.profile-photo-link__label {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $sm-light-primary;

    &:after {
        content: "";
        background: $sm-dark-primary;
    }

    span {
        position: relative;
        z-index: 10;
    }
}

.profile-photo-link {
    transform: translateZ(0);

    svg {
        display: block;
        max-width: 100%;
        height: auto;
        background-color: $sm-light-primary;
    }
}

.profile-photo-link__label,
.profile-photo-link__label:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile-photo-link--default {
    svg {
        color: $sm-color-tertiary;
    }
}

.profile-photo-link--admin {
    position: relative;

    &[class] {
        cursor: pointer !important;
    }

    .profile-photo-link__label,
    .profile-photo-link__label:after {
        opacity: 0;
    }

    .profile-photo-link__label,
    .profile-photo-link__label:after {
        transition: opacity .3s ease-in-out;
    }

    &:hover {

        .profile-photo-link__label:after {
            opacity: 0.5;
        }

        .profile-photo-link__label {
            opacity: 1;
        }
    }
}
