
.site-title {
    display: inline-block;
}

@mixin branding-grid {

    .c-branding {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto auto auto 1fr;

        &:before {
            content: "";
            display: block;
            grid-row: 1 / 2;
            min-height: 20px;
        }

        &:after {
            content: "";
            display: block;
            grid-row: 5 / 6;
        }
    }

    .c-profile-photo {
        grid-column: 1;
        grid-row: 1 / 6;
    }

    .c-logo {
        grid-column: 2;
        grid-row: 2 / 3;
    }

    .c-logo__title {
        grid-column: 2;
        grid-row: 3 / 4;
    }

    .site-description {
        grid-column: 2;
        grid-row: 4 / 5;
    }
}

@include above(lap) {

    body:not(.page):not(.single) {

        .header {
            padding: 20px;
            background: $theme-accent-lighter-color;
        }

        * + .c-logo,
        * + .c-logo__title,
        * + .site-description {
            margin-top: 1em;
        }

        .site-description {
            font-size: 17/15 * 1em;
            line-height: (26/17);
        }
    }

    .page,
    .single {
        @include branding-grid;

        .c-branding {
            margin-top: -50px;
        }

        .header {
            background: #ffffff;
            padding: 28px;
        }

        .c-profile-photo {
            padding-right: 28px;
        }

        .profile-photo-link {
            max-width: 150px;
        }

        .site-description {
            font-size: 13/15 * 1em;
            line-height: (19/13);
        }
    }
}

@include below(lap) {

    .header {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: auto;
        padding: 0 10px;
        background: #ffffff;
    }

    .c-profile-photo {
        margin-top: -10px;
    }

    .profile-photo-link {
        max-width: 85px;
    }

    @include branding-grid;

    .site-description {
        display: none;
    }

    .c-logo,
    .c-logo__title,
    .site-description {
        margin-right: 20px;

        .c-profile-photo ~ & {
            margin-left: 30px;
        }
    }

    :not(.c-profile-photo) + .c-logo__title,
    :not(.c-profile-photo) + .site-description {
        margin-top: 1em;
    }
}