.c-card__excerpt + .c-card__footer {
  @include spacing(margin-top, $card-content-spacing);
}

.c-card__meta {
  position: relative;
}

.c-meta__decoration {
  @include meta-style;

  position: absolute;
  z-index: -1;
  top: -4px;
  right: 0;
  bottom: -4px;
  left: 0;
  overflow: hidden;

  max-width: 200px;
  min-width: 100px;

  border-bottom-left-radius: 999em;
  border-top-right-radius: 999em;

  pointer-events: none;
}

.c-meta {
  &, ul {
    > * {
      padding-top: 0;
      padding-left: 0;
      @include spacing(margin-top, $meta-spacing);
      @include spacing(margin-left, $meta-spacing);
    }
  }
}

.c-card__aside {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  overflow: visible;

  transform: translate3d(0,-50%,0);

  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;

  .c-noto__item--no-image & {
    left: 50%;
    opacity: 1;
    transform: translate3d(-50%,-50%,0);
  }
}

.c-card__frame {
  overflow: visible;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    right: -50%;
    transform: translate3d(-50%,-50%,0);

    width: auto;
    height: auto;
  }
}

.c-card {
  transform: translateZ(0);
}

.c-card__excerpt {
  font-size: 15px;
}

.c-card__letter {
  height: auto;

  font-family: IBM Plex Serif;
  font-size: 300px;
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;

  color: $sm-light-secondary;
  transform: translateY(-50%) translateX(-50%);

  .c-noto__item:not(.c-noto__item--no-image) & {
    display: none;
  }
}

.c-card__thumbnail-background {
  background: none;
}

.c-card__letter {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.c-card {

  .c-card__content {
    align-items: flex-start;
    margin-top: 0;
  }

  .c-card__title {
    margin-top: 0;
  }

  .c-card__excerpt {
    margin-bottom: 0;
  }
}

.c-card__meta {
  width: auto;
  font-weight: 500;

  // Show only the first category
  li:not(:first-child) {
    display: none;
  }
    // Hide comma
    li:not(:last-child):after {
      content: "";
    }
}

.c-meta__separator {
  &:after {
    content: " \B7 ";
  }
}

@include below(lap) {

  .c-card {

    .related-posts-container & {
      margin: 0;
      padding: 0;
    }
  }

  .c-card__aside {
    opacity: 0.25;
  }

  .c-card__frame {
    transform: none !important;
  }

  .c-card__letter {
    font-size: 150vw;
  }

  .c-meta__decoration,
  .c-card__action:before {
    display: none;
  }

  .c-noto--body {
    padding-bottom: 4rem;

    > article {

      &:nth-child(2n) {
        .c-card__aside {
          left: 100%;
          transform: translate3d(-8vw, -50%, 0);
        }
      }

      &:nth-child(2n+1) {
        .c-card__aside {
          right: 100%;
          left: auto;
          transform: translate3d(8vw, -50%, 0);
        }

        .c-card__excerpt {
          text-align: right;
        }
      }
    }

    > .widget[class] {
      margin-top: 4rem;
      padding-left: $mobile-padding;
      padding-right: $mobile-padding;
    }

    > .pagination {
      padding: 0 $mobile-padding;
    }
  }
}

$card-offset: 21px;
$button-offset: 16px;

@include above(lap) {

  .c-card__action {
    @include btn;
    @include btn-overwrite;

    text-decoration: none;
    transition: transform $transition-duration $transition-easing,
                background-color $transition--micro ease-out;

    .c-card:hover & {
      transform: translateX($button-offset);
      .u-buttons-solid & {
        background-color: transparent;
        color: $sm-dark-primary;
        &:after {
          border: 2px solid;
        }
      }
    }

    &:before {
      transition: transform $transition-duration $transition-easing;
      transition-property: transform, left;
      transform-origin: 0 50%;
      transform: scale(0,1) translateZ(0);

      .c-card:hover & {
        transform: scale(1,1) translateZ(0);
        left: -$button-offset;
      }
    }
  }

  .c-meta__decoration {
    transform: translateX(100%);
    transition: transform $transition-duration $transition-easing;

    .c-card:hover & {
      transform: translateX(-1.5rem) translateZ(0);
    }

    &:after {
      opacity: 0;
      transform: translateX(-100%);
      transition: all $transition-duration $transition-easing;
      transition-property: transform, opacity;

      .c-card:hover & {
        opacity: 0.4;
        transform: translateZ(0);
      }
    }
  }

  .c-card {

    .c-card__title,
    .wave-svg-mask,
    .wave-svg {
      transition: transform $transition-duration $transition-easing;
    }

    .wave-svg-mask {
      direction: rtl;
    }

    .wave-svg {
      width: 200%;
    }
  }

  .c-card:hover {

    .c-card__title,
    .wave-svg-mask {
      transform: translateX(-$card-offset);
    }

    .wave-svg {
      transform: translateX($card-offset);
    }
  }

  .c-card__meta > div:not(.c-meta__decoration) {

    .not-li:after {
      transition: all $transition-duration $transition-easing;
      transition-property: transform, opacity;
      transform: translateX(100%);
      opacity: 0;

      .c-card:hover & {
        transform: none;
        opacity: 1;
      }
    }

    & {
      display: block;
      transition: transform $transition-duration $transition-easing;
      transform: translateY(10px);

      .c-card:hover & {
        transform: none;
      }
    }
  }

  .c-card__excerpt {
    transition: color $transition-duration $transition-easing;

    .c-card:hover & {
      color: $sm-color-secondary;
    }
  }

  .has-post-thumbnail .c-card__letter {
    display: none;
  }
}

