.c-card__action {
  @include btn;
  @include btn-overwrite;
}

.c-card__excerpt + .c-card__footer {
  margin-top: 2rem;
}

.c-card__meta {
  position: relative; 
}

.c-meta__decoration {
  @include meta-style;

  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  max-width: 200px;

  border-bottom-left-radius: 999em;
  border-top-right-radius: 999em;

}

.c-meta {
  &, ul {
    > * {
      padding-top: 0;
      padding-left: 0;
      @include spacing(margin-top, $meta-spacing);
      @include spacing(margin-left, $meta-spacing);
    }
  }
}

.c-card__aside {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  transform: translate3d(-50%,-50%,0);

  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}

.c-card__frame {
  position: relative;
  overflow: visible;

  img {
    width: auto;
    height: auto;

    max-width: 400px;
    max-height: 400px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $theme-accent-light-color;
    mix-blend-mode: color;
  }
}

.c-card {
  transform: translateZ(0);

  .wave-svg-mask {
    color: $theme-text-color;
  }
}

.c-card__letter {
  color: $theme-accent-light-color;
  transform: translateY(-50%) translateX(-50%);

  .c-gallery__item:not(.c-gallery__item--no-image) & {
    display: none;
  }
}

.c-card__thumbnail-background {
  background: none;
}

.c-card__letter {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.c-card {
  .c-card__content,
  .c-card__title {
    margin-top: 0;
  }

  .c-card__excerpt {
    margin-bottom: 0;
  }
}

.c-card__meta {
  width: auto;

  li:not(:first-child) {
    display: none;
  }

  li:not(:last-child):after {
    content: "";
  }
}

@include below(lap) {

  .c-card {
    overflow: hidden;
    padding: 0 $mobile-padding;

    .related-posts-container & {
      margin: 0;
      padding: 0;
    }
  }

  .c-card__aside {
    opacity: 0.25;
  }

  .c-card__frame {
    transform: none !important;
  }

  .c-card__letter {
    font-size: 150vw;
  }

  .c-meta__decoration,
  .c-card__action:before {
    display: none;
  }

  .c-noto {
    padding-bottom: 4rem;

    > article {
      margin-top: 4rem;

      &:nth-child(2n) {
        .c-card__aside {
          left: 100%;
          transform: translate3d(-8vw, -50%, 0);
        }
      }

      &:nth-child(2n+1) {
        .c-card__aside {
          right: 100%;
          left: auto;
          transform: translate3d(8vw, -50%, 0);
        }

        .c-card__excerpt {
          text-align: right;
        }
      }
    }

    > .pagination {
      padding: 0 $mobile-padding;
    }
  }
}

$card-offset: 21px;
$button-offset: 16px;

@include above(lap) {

  .c-meta__primary {

    ul {
      margin-left: -2rem;
      margin-right: -2rem;
    }

    li {
      position: relative;
    }

    a {
      padding: 0.5rem 2rem;
    }
  }

  .c-card__action {
    transition: transform $transition-duration $transition-easing;

    .c-card:hover & {
      transform: translateX($button-offset);
    }

    &:before {
      transition: transform $transition-duration $transition-easing;
      transition-property: transform, left;
      transform-origin: 0 50%;
      transform: scale(0,1) translateZ(0);

      .c-card:hover & {
        transform: scale(1,1) translateZ(0);
        left: -$button-offset;
      }
    }
  }

  .c-meta__decoration {
    transform: translateX(100%);
    transition: transform $transition-duration $transition-easing;

    .c-card:hover & {
      transform: translateZ(0);
    }

    &:after {
      opacity: 0;
      transform: translateX(-100%);
      transition: all $transition-duration $transition-easing;
      transition-property: transform, opacity;

      .c-card:hover & {
        opacity: 1;
        transform: translateZ(0);
      }
    }
  }

  .c-card__title,
  .wave-svg-mask,
  .wave-svg {
    transition: transform $transition-duration $transition-easing;
  }

  .wave-svg-mask {
    direction: rtl;
  }

  .c-card:hover {

    .c-card__title,
    .wave-svg-mask {
      transform: translateX(-$card-offset);
    }

    .wave-svg {
      transform: translateX($card-offset);
    }
  }

  .c-card__meta > div:not(.c-meta__decoration) {

    .not-li:after {
      transition: all $transition-duration $transition-easing;
      transition-property: transform, opacity;
      transform: translateX(100%);
      opacity: 0;

      .c-card:hover & {
        transform: none;
        opacity: 1;
      }
    }

    & {
      display: block;
      transition: transform $transition-duration $transition-easing;
      transform: translateY(10px);

      .c-card:hover & {
        transform: none;
      }
    }
  }

  .c-card__excerpt {
    transition: color $transition-duration $transition-easing;

    .c-card:hover & {
      color: $theme-accent-color;
    }
  }

  .c-card:hover .c-card__aside {
    display: none;
  }

  .has-post-thumbnail .c-card__letter {
    display: none;
  }

  .c-noto > article {
    &:nth-of-type(3),
    &:nth-of-type(6n+7),
    &:nth-of-type(6n+9) {

      .wave-svg-mask {
        direction: ltr;
      }

      .c-card:hover {
        .c-card__title,
        .wave-svg-mask {
          transform: translateX($card-offset);
        }

        .wave-svg {
          transform: translateX(-$card-offset);
        }
      }
    }
  }
}

