$transition-duration: .5s;
$transition-easing: $easeInOutCubic;
$mobile-padding: 6.25vw;

@import 'mixins';
@import 'comments';
@import 'author';
@import 'header';
@import 'footer';
@import 'card';
@import 'single';
@import 'images';
@import 'typography';
@import 'sharedaddy';
@import 'page-numbers';
@import 'progress-bar';
@import 'pull';
@import 'widgets';

@import '../../../components/header/scss/elements/burger';
@import '../../../components/blog/scss/elements/search-overlay';

@include above(lap) {
  @import 'grid';
}

.single,
.page {

  @include below(lap) {

    .header {
      margin-right: auto;
      padding: $mobile-padding;
      background: $theme-accent-lighter-color;
    }
  }
}

body:not(.single):not(.page) {

  @include below(lap) {

    .site-content:before {
      display: none;
    }

    .header {
      margin-right: auto;
      padding: $mobile-padding;
      background: $theme-accent-lighter-color;
    }
  }
}

@include below(lap) {

  .c-noto {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 8px;

    > * {
      grid-column: 1 / -1;
    }

    &:before {
      content: "";
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      background: $theme-border-color;
    }
  }

  .c-navbar__zone--middle {
    grid-column: 1 / 2;
    grid-row: 2 / 4;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: $theme-border-color;
    }
  }
}

.u-header-height-padding-top[class] {
  padding-top: 0;
}

.o-layout__side {
  display: none;
}

.u-container-width,
.u-blog-grid-width {

  &[class] {
    max-width: none;
  }
}

.site-content {
  display: grid;
}

.u-header-height[class] {
  height: auto;
}

.u-header-background[class] {
  background: none;
}


.wave-svg-mask {
  overflow: hidden;

  .wave-svg {
    width: 200%;
    display: block;
    margin-bottom: 2rem;
  }
}


[hidden] {
  display: none;
}

[class*="gallery-columns-"] {
  justify-content: center;
}

.c-navbar__label-icon,
.search-trigger[class] {
  display: flex;
  align-items: center;
  padding: 1em 1.3125rem;
}

.search-trigger svg {
  display: block;
}

.site {
  overflow: hidden;
}

.site-content {
  background-color: $theme-border-color;
}

.c-header-layers {
  position: relative;
  overflow: hidden;

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  background: $theme-border-color;
}

.c-header-layers__dark {
  position: absolute;
  top: 0;
  right: 1rem;
  left: 2rem;

  height: 200px;

  background: $theme-border-lighter-color;

  transform-origin: 100% 100%;
  transform: rotate(-1deg);
}

.c-header-layers__accent {
  position: absolute;
  top: 100%;
  right: 2rem;
  left: 1rem;

  height: 200px;
  margin-top: -3px;

  background: $theme-accent-light-color;

  transform-origin: 100% 0;
  transform: rotate(1.5deg);
}

.c-header-layers__dark,
.c-header-layers__accent,
.c-footer-layers__dark,
.c-footer-layers__accent,
.c-noto--body {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.c-noto--body {
  z-index: 200;
}

.site-footer {
  position: relative;
}

.c-footer-layers__accent {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 100%;
  height: 900px;
  margin-bottom: -20px;

  background: $theme-accent-light-color;

  transform-origin: 100% 0;
  transform: rotate(1.5deg);
}

.c-footer-layers__dark {
  position: absolute;
  bottom: 100%;
  right: 2rem;
  left: 2rem;

  height: 900px;
  margin-bottom: -60px;

  background: $theme-border-lighter-color;

  transform-origin: 0 0;
  transform: rotate(-1deg);
}