$transition-duration: .5s;
$transition-easing: $easeInOutCubic;
$mobile-padding: 6.25vw;

@import 'mixins';
@import 'branding';
@import 'comments';
@import 'author';
@import 'header';
@import 'footer';
@import 'card';
@import 'single';
@import 'images';
@import 'typography';
@import 'not-found';
@import 'sharedaddy';
@import 'page-numbers';
@import 'progress-bar';
@import 'pull';
@import 'widgets';
@import 'btn';
@import 'animations';

@import '../../../components/header/scss/elements/burger';
@import '../../../components/blog/scss/elements/search-overlay';

@import 'grid';

@include above(lap) {
  @import 'border';
}

body {
  &.u-content-background {
    background-color: $sm-dark-primary;
  }
}

.u-header-height-padding-top[class] {
  padding-top: 0;
}

.o-layout__side {
  display: none;
}

.u-container-width,
.u-blog-grid-width {

  &[class] {
    max-width: none;
  }
}

.site-content {
  position: relative;
  z-index: 100;
}

.u-header-height[class] {
  height: auto;
}

.u-header-background[class] {
  background-color: none;
}


.wave-svg-mask {
  overflow: hidden;
}

.wave-svg {
  display: block;
  height: 12px;
  background-repeat: repeat no-repeat;
  @include spacing(margin-bottom, $card-content-spacing);

  .u-pattern-bubbles &,
  .u-pattern-lines &,
  .u-pattern-triangles & {
    background-repeat: space no-repeat;
  }
}

[hidden] {
  display: none;
}

[class*="gallery-columns-"] {
  justify-content: center;
}

.c-navbar__label-icon,
.search-trigger[class] {
  display: flex;
  align-items: center;
  padding: 1em;
}

.c-navbar__label-icon {
  height: 62px;
  padding-top: 22px;
}

.search-trigger[class] {
  margin-right: auto;
  cursor: pointer;

  .js-search-trigger {
    cursor: inherit;
  }

  @include below(lap) {
    height: 62px;
    padding-top: 22px;
  }
}

.site {
  // Limit the container size until more work is done for large screens
  max-width: 1440px;
  margin: 0 auto;
}

// Should be an option into Customizer (?)
.c-meta__secondary {
  font-weight: 400;
}

.c-noto--header {
  z-index: 300;
}

.c-noto--body {
  z-index: 200;
  padding-bottom: 100px;
}

.c-footer-layers__background,
.c-footer-layers__accent,
.c-footer-layers__accent:after,
.c-footer-layers__dark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.c-footer-layers__background,
.c-footer-layers__accent,
.c-footer-layers__dark {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.c-footer-layers__accent:after {
  content: "";
  display: block;
  background-color: $sm-color-primary;
  opacity: 0.4;
}

.c-footer-layers__accent,
.c-footer-layers__dark {
  @include below(lap) {
    display: none;
  }
}

.c-footer-layers__background {
  grid-column: 1 / -1;

  background-color: $sm-light-primary;
  z-index: -10;
}

.c-footer-layers__accent {
  grid-column: 1 / -1;
  background-color: $sm-light-primary;

  top: -1.2rem;
  right: 3rem;
  bottom: 0.2rem;
  z-index: -20;

  transform: translateZ(0) rotate(1.1deg);
}

.c-footer-layers__dark {
  top: -4rem;
  left: 5rem;
  bottom: -2rem;

  background-color: $sm-dark-primary;
  transform: rotate(-0.5deg);

  opacity: 0;
  transition: $transition--default;
  transition-property: opacity;
}

.u-footer-is-pinned {

  .c-noto--body {
    margin-bottom: 0 !important;
  }

  .site-footer {
    position: static !important;
  }
}

.c-search-overlay .search-field {
  color: inherit;
}

.site {
  @include above(lap) {
    padding-left: 25px;
  }
}

.post-password-form {
  input[type="submit"] {
    color: $btn-border-color;
    margin-top: 8px;
  }
}

html {
  overflow-x: hidden;
}

.c-noto--header {

  a, a:hover, a:active {
    color: inherit;
  }

  li:hover,
  [class*='current-menu'] {
    color: $header-links-active-color;

    .u-underlined-header-links & {
      text-decoration: underline;
    }
  }
}

.c-noto__item {
  &.no-results {
    @include above(lap) {
      grid-column: start / span 32;
    }
  }
}

.search-no-results {
  text-align: center;
}

.search-trigger[class] {
  color: #fff;
  svg {
    width: auto;
    height: auto;
  }
}
