.site-footer {
    position: relative;
    padding-top: 4rem;

    @include below(lap) {
        position: static !important;
    }
}

.c-footer {
    a {
        text-decoration: none;
    }

    .widget__title {
        color: inherit;
    }
}

.c-footer__zone--bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .menu {
        display: flex;
        list-style: none;

        > * + *:before {
            content: "/";
            margin-left: 1rem;
            margin-right: 1rem;
            pointer-events: none;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

.c-footer__zone {
    & + & {
        margin-top: 4rem;
    }
}

.back-to-top {
    display: none;
}