$border-width: 2rem;

// CARDS PROPERTIES
// ========================================

// Size
@mixin card-large {
  .c-card__title span {
    font-size: 1.75em;
  }
}

@mixin card-medium {
  .c-card__title span {
    font-size: 1.3125em;
  }

}

@mixin card-small {
  // Hide the Secondary Meta
  .c-meta__secondary,
  .c-meta__separator {
    display: none;
  }
}

// Alignment
@mixin card-align-left {

}

@mixin card-align-right {
  text-align: right;

  .c-card__content {
    align-items: flex-end;
  }

  .c-card__meta {
    justify-content: flex-end;
  }
}

// Positioning
@mixin card-position-left {
  // background: red;
  .c-card__aside {
    left: 130%;
  }
}

@mixin card-position-center {
  // background: yellow;
}

@mixin card-position-right {
  // background: blue;
  .c-card__aside {
    left: auto;
    right: 130%;
  }
}

@mixin debug-colors {
  // background: $sm-light-quaternary;
}

// Widgets
// Highlighted Style
@mixin highlighted-style {
  background: $sm-light-secondary;
  // padding: 25px;
}

@mixin highlighted-style-alt {
  background: $sm-light-tertiary;
}
// ========================================



// CARDS GRID
// ========================================

// <div class="c-noto">                             → Grid Container
//   <div class="c-navbar__zone--left">...</div>    → Main Menu
//   <div class="c-navbar__zone--middle">...</div>  → Site Identity
//   <div class="c-navbar__zone--right">...</div>   → Secondary Menu
//   <article>                                      → Positioning
//     <div class="c-card">...</div>                → Cards Styling
//   </article>
// </div>



// General Styles
// ----------------------------------------

// Layout
.c-noto {
  position: relative;
  display: grid;
}

// Main Menu
.c-navbar__zone--left {

}

// Site Identity
.c-navbar__zone--middle {

}

// Secondary Menu
.c-navbar__zone--right {

}


// BREAKPOINT
// < 1125px
// ----------------------------------------
@include below(lap) {

  // Layout
  .c-noto {
    grid-template-columns: auto minmax(60px, 1fr) minmax(60px, 1fr);
    grid-template-rows: auto 1fr;
    margin-top: 0 !important;

    &:before {
      content: "";
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      background: $sm-dark-primary;
    }

    > * {
      grid-column: 1 / -1;
    }
  }

  .c-noto--body {
    overflow: hidden;

    > .c-noto__item {
      // !important was added to overwrite inline margin top added through JS for the grid on large screens
      margin-top: 4rem !important;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .c-card,
    .widget {
      max-width: 40em;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Main Menu
  .c-navbar__zone--left {

  }

  // Site Identity
  .c-navbar__zone--middle {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: $sm-dark-primary;
    }
  }

  // Secondary Menu
  .c-navbar__zone--right {

  }
}

// BREAKPOINT
// > 1125px
// ----------------------------------------
@include above(lap) {

  // Layout
  .c-noto {
    grid-template-columns: 2rem 1fr [start] repeat(14, 1fr) [middle] repeat(14, 1fr) [end] 1fr 1fr;
  }

  .c-noto--header {
    padding-top: $header-vertical-position-top;
    pointer-events: none;

    > * {
      pointer-events: auto;
    }
  }

  .c-noto--body {

    > *,
    .entry-header[class] {
      grid-column: start / 32;
    }

    // End Cards Positioning
    // ----------------------------------------

    body.blog & {
      padding-bottom: 8rem;
    }
  }

  > .entry-header {
    grid-row-start: 4;
    grid-column-end: span 11;
    padding-bottom: 8rem;
  }

  // Main Menu
  .c-navbar__zone--left {
    grid-column: 14 / span 17;
    grid-row: 1 / 2;
  }

  // Site Identity
  .c-navbar__zone--middle {
    grid-row: 1 / 3;

    // Front Page
    body.blog & {
      grid-column: start / 12;
    }

    // Inner Pages
    body:not(.blog) & {
      grid-column: start / 14;
    }
  }

  // Secondary Menu
  .c-navbar__zone--right {
    grid-column: 12 / span 19;
    grid-row: 1 / 2;
  }

  // Footer
  .site-footer {
    grid-column: 1 / -1;
  }

  .site-footer.u-container-sides-spacing {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  // Others
  // Pagination
  // Posts Navigation (Prev / Next at the end of a single post)
  .navigation {
    grid-column: 19 / span 12;
    margin-left: auto;
  }

  .c-noto__item {
    margin-top: 45px;
    align-self: flex-start;

    // Cards Positioning
    // ----------------------------------------
    // First Card

    &:nth-child(6) {
      grid-column: 19 / span 12;

      &.c-noto__item--post {

        @include card-large;

        .c-card__title {
          align-self: flex-end;
          text-align: right;
        }

        .c-card__meta,
        .c-card__excerpt,
        .c-card__footer {
          margin-left: percentage(3.5/14);
        }

        .c-card__title {
          text-align: right;
        }
      }
    }

    &:nth-child(7) {
      grid-column: start / span 11;
      grid-row-end: span 2;
      align-self: center;

      &.c-noto__item--post {
        @include card-large;

        .c-card__excerpt,
        .c-card__footer {
          margin-left: percentage(2/11);
        }
      }
    }

    &:nth-child(8) {
      grid-column: 16 / span 5;
    }

    &:nth-child(9) {
      grid-column: 23 / span 8;

      margin-top: 2*45px;
      margin-bottom: 45px;

      &.c-noto__item--post {
        @include card-medium;
      }
    }

    &:nth-child(12n+10) {
      grid-column: start / span 13;

      &.c-noto__item--post {
        @include card-large;

        .c-card__excerpt,
        .c-card__footer {
          margin-right: percentage(5/13);
        }
      }
    }

    &:nth-child(12n+11) {
      grid-column: 19 / span 13;
      align-self: flex-end;

      &.c-noto__item--post {
        @include card-large;

        .c-card__title {
          align-self: flex-end;
          text-align: right;
        }

        .c-card__meta,
        .c-card__excerpt,
        .c-card__footer {
          margin-left: percentage(7/13);
        }
      }
    }

    &:nth-child(12n+12) {
      grid-column: start / span 7;
    }

    &:nth-child(12n+13) {
      grid-column: 12 / span 5;

      &.c-noto__item--post {
        @include card-medium;
      }

      &.c-noto__item--widget {
        grid-column: 12 / span 6;
        max-width: 250px;
      }
    }

    &:nth-child(12n+14) {
      grid-column: 19 / span 5;
    }

    &:nth-child(12n+15) {
      grid-column: 25 / span 7;

      &.c-noto__item--post {
        @include card-medium;
      }
    }

    &:nth-child(12n+16) {
      grid-column: start / span 13;
      align-self: flex-end;

      &.c-noto__item--post {
        @include card-large;

        .c-card__excerpt,
        .c-card__footer {
          margin-left: percentage(7/13);
        }
      }
    }

    &:nth-child(12n+17) {
      grid-column: 18 / span 13;
      align-self: flex-end;

      &.c-noto__item--post {
        @include card-large;

        .c-card__excerpt,
        .c-card__footer {
          margin-right: percentage(5/13);
        }
      }
    }

    &:nth-child(12n+18) {
      grid-column: start / span 5;
    }

    &:nth-child(12n+19) {
      grid-column: 9 / span 7;

      &.c-noto__item--post {
        @include card-medium;
      }
    }

    &:nth-child(12n+20) {
      grid-column: 18 / span 7;
      align-self: flex-start;
    }

    &:nth-child(12n+21) {
      grid-column: 27 / span 5;

      &.c-noto__item--post {
        @include card-medium;
      }
    }

    // &:nth-child(8),
    &:nth-child(6n+12),
    &:nth-child(6n+14) {
      &.c-noto__item--post {
        @include card-align-right;

        .wave-svg-mask {
          direction: ltr;
        }

        .c-card:hover {
          .c-card__title,
          .wave-svg-mask {
            transform: translateX($card-offset);
          }

          .wave-svg {
            transform: translateX(-$card-offset);
          }
        }
      }
    }
  }
}

.c-noto--body {

  .c-navbar__zone {
    order: -2;
  }

  .c-noto__item--post-it {
    order: -1;

    @include above(lap) {
      grid-column: 13 / span 4;
      align-self: flex-end;
    }
  }
}

// make sure images are above widgets even after mouse out
.c-noto__item {
  position: relative;
}

.c-noto__item--widget {
  z-index: 4;
}

.c-noto__item--post {
  z-index: 5;
}

// featured images positioning
@include above(lap) {

  .c-noto__item:not(.c-noto__item--no-image) {

    &:nth-child(6) {
      .c-card__aside {
        left: auto;
        right: percentage(13/12);
        width: percentage(15/12);
      }
    }

    &:nth-child(7) {
      .c-card__aside {
        left: percentage(12/11);
        width: percentage(17/11);
      }
    }

    &:nth-child(8) {
      .c-card__aside {
        left: auto;
        right: percentage(6/5);
        width: percentage(11/5);
      }
    }

    &:nth-child(9) {
      .c-card__aside {
        left: auto;
        right: percentage(9/8);
        width: percentage(18/8);
      }
    }

    &:nth-child(12n+10) {
      .c-card__aside {
        left: percentage(14/13);
        width: percentage(15/13);
      }

      // .has-focus class has z-index: 10;
      // grid items with negative margin-top need to have a greater index to be hoverable
      &.has-focus + * + * + .c-noto__item--post {
        z-index: 11;
      }
    }

    &:nth-child(12n+11) {
      .c-card__aside {
        left: auto;
        right: percentage(14/13);
        width: percentage(15/13);
      }

      // .has-focus class has z-index: 10;
      // grid items with negative margin-top need to have a greater index to be hoverable
      &.has-focus + * + * + .c-noto__item--post {
        z-index: 11;
      }
    }

    &:nth-child(12n+12) {
      .c-card__aside {
        left: percentage(8/7);
        width: percentage(21/7);
      }
    }

    &:nth-child(12n+13) {
      .c-card__aside {
        left: percentage(6/5);
        width: percentage(14/5);
      }
    }

    &:nth-child(12n+14) {
      .c-card__aside {
        left: auto;
        right: percentage(6/5);
        width: percentage(15/5);
      }
    }

    &:nth-child(12n+15) {
      .c-card__aside {
        left: auto;
        right: percentage(8/7);
        width: percentage(21/7);
      }
    }

    &:nth-child(12n+16) {
      .c-card__aside {
        left: percentage(14/13);
        width: percentage(15/13);
      }


      // .has-focus class has z-index: 10;
      // grid items with negative margin-top need to have a greater index to be hoverable
      &.has-focus + * + .c-noto__item--post {
        z-index: 11;
      }
    }

    &:nth-child(12n+17) {
      .c-card__aside {
        left: auto;
        right: percentage(14/13);
        width: percentage(15/13);
      }


      // .has-focus class has z-index: 10;
      // grid items with negative margin-top need to have a greater index to be hoverable
      &.has-focus + * + * + * + .c-noto__item--post {
        z-index: 11;
      }
    }

    &:nth-child(12n+18) {
      .c-card__aside {
        left: percentage(6/5);
        width: percentage(23/5);
      }
    }

    &:nth-child(12n+19) {
      .c-card__aside {
        left: percentage(8/7);
        width: percentage(15/7);
      }
    }

    &:nth-child(12n+20) {
      .c-card__aside {
        left: auto;
        right: percentage(8/7);
        width: percentage(15/7);
      }
    }

    &:nth-child(12n+21) {
      .c-card__aside {
        left: auto;
        right: percentage(6/5);
        width: percentage(23/5);
      }
    }
  }
}
