$border-width: 2rem;

@mixin card-large {
  .c-card__title span {
    font-size: 1.75em;
  }
}

@mixin card-medium {
  .c-card__title span {
    font-size: 1.3125em;
  }
}

@mixin card-align-right {
  text-align: right;

  .c-card__meta {
    justify-content: flex-end;
  }
}

.c-noto {
  position: relative;

  display: grid;
  grid-template-columns: 2rem 1fr [start] repeat(14, 1fr) [middle] repeat(14, 1fr) [end] 1fr 1fr;
  grid-template-rows: 4rem minmax(4rem, auto);
  grid-auto-rows: minmax(50px, auto);

  padding-top: 2rem;

  counter-reset: count;

  > * {
    grid-column: start / 32;
  }

  > article {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;

      counter-increment: count;
      // content: counter(count);

      font-size: 200px;
      line-height: 0.8;
      font-weight: 700;
      opacity: 0.1;
      pointer-events: none;
    }
  }
}


.single,
.page {

  .c-navbar__zone--middle {

    @include above(lap) {
      padding: 2rem 0;
      grid-column: start / 13;
      grid-row: 1 / 3;
    }
  }
}

body:not(.single):not(.page) {

  .c-navbar__zone--middle {

    @include above(lap) {
      padding: 2rem 0;
      grid-column: start / 13;
      grid-row: 1 / 4;
    }
  }
}

.c-noto > .entry-header {
  grid-row-start: 4;
  grid-column-end: span 11;
  padding-bottom: 8rem;
}

.c-navbar__zone--left {
  grid-column: 14 / span 19;
  grid-row: 1 / 2;
  padding-right: percentage(3/19);
}

.c-navbar__zone--right {
  grid-column: 15 / span 15;
  grid-row: 2 / 3;
}

.c-noto > article {

  &:nth-of-type(1) {
    grid-column: middle / span 14;
    grid-row-end: span 3;
    padding-top: 50px;

    @include card-large;

    .c-card__excerpt,
    .c-card__footer {
      margin-left: percentage(4/14);
    }

    .c-card__content {
      padding-bottom: 50px;
    }
  }

  &:nth-of-type(2) {
    grid-column: start / span 11;
    grid-row-end: span 2;
    align-self: center;

    @include card-large;

    .c-card__excerpt,
    .c-card__footer {
      margin-left: percentage(2/11);
    }
  }

  &:nth-of-type(3) {
    grid-column: 15 / span 5;
    margin-top: -100px;
  }

  &:nth-of-type(4) {
    grid-column: 22 / span 7;

    @include card-medium;
  }

  &:nth-of-type(12n+5) {
    grid-column: start / span 13;
    align-self: flex-end;
    padding-top: 50px;

    @include card-large;

    .c-card__excerpt,
    .c-card__footer {
      margin-right: percentage(5/13);
    }

    .c-card__content {
      padding-bottom: 100px;
    }
  }

  &:nth-of-type(12n+6) {
    grid-column: 19 / span 13;
    align-self: flex-end;
    padding-top: 100px;

    @include card-large;

    .c-card__excerpt,
    .c-card__footer {
      margin-left: percentage(7/13);
    }

    .c-card__content {
      padding-bottom: 50px;
    }
  }

  &:nth-of-type(12n+7) {
    grid-column: start / span 7;
  }

  &:nth-of-type(12n+8) {
    grid-column: 12 / span 5;
    margin-top: -100px;

    @include card-medium;
  }

  &:nth-of-type(12n+9) {
    grid-column: 19 / span 5;
    margin-top: -100px;
  }

  &:nth-of-type(12n+10) {
    grid-column: 25 / span 7;

    @include card-medium;
  }

  &:nth-of-type(12n+11) {
    grid-column: start / span 13;
    align-self: flex-end;
    padding-top: 100px;

    @include card-large;

    .c-card__excerpt,
    .c-card__footer {
      margin-left: percentage(7/13);
    }

    .c-card__content {
      padding-bottom: 50px;
    }
  }

  &:nth-of-type(12n+12) {
    grid-column: 18 / span 13;
    align-self: flex-end;
    padding-top: 50px;

    @include card-large;

    .c-card__excerpt,
    .c-card__footer {
      margin-right: percentage(5/13);
    }
  }

  &:nth-of-type(12n+13) {
    grid-column: start / span 5;
    margin-top: -100px;
  }

  &:nth-of-type(12n+14) {
    grid-column: 9 / span 7;
    margin-top: 0;

    @include card-medium;
  }

  &:nth-of-type(12n+15) {
    grid-column: 18 / span 7;
    margin-top: 0;
    align-self: flex-start;
  }

  &:nth-of-type(12n+16) {
    grid-column: 27 / span 5;
    margin-top: -100px;

    @include card-medium;
  }

  &:nth-of-type(3),
  &:nth-of-type(6n+7),
  &:nth-of-type(6n+9) {
    @include card-align-right;
  }
}

.site-footer {
  grid-column: 1 / -1;
}

.site-footer.u-container-sides-spacing {
  padding-left: 6rem;
  padding-right: 6rem;
}

.navigation {
  grid-column: 19 / span 12;
  margin-left: auto;
}
