.c-navbar__zone--left,
.c-navbar__zone--right {
  z-index: 100;
}

.c-navbar__zone--left {
  min-height: 59px;
}

.u-underlined-links .c-branding a {
  text-decoration: none;
}

.c-navbar__zone {

  nav,
  .menu-social-menu-container,
  .menu {
    height: 100%;
  }

  .menu,
  .sub-menu {
    padding-left: 0;
    list-style: none;
  }

  .menu {

    li {
      margin-bottom: 0;
    }

    a {
      display: flex;
      align-items: center;
      height: auto;
      padding: 1em;

      &,
      &:hover,
      &:active {
        color: inherit;
      }

      .u-underlined-links & {
        text-decoration: none;
      }
    }
  }

  .menu-item-has-children {

    > .sub-menu {
      transition: opacity .3s ease-in-out;
    }

    &:hover > .sub-menu {
      opacity: 1;
      pointer-events: auto;
    }

    > a:after {
      content: "+";
      padding-left: 0.5em;

      .lite-version & {
        content: "";
      }
    }
  }
}

@include above(lap) {

  .c-navbar__zone--left {
    position: relative;
    z-index: 200;

    .sub-menu a {
      opacity: 0.6;
      font-size: 93.75%;
      transition: opacity $transition--micro ease;
    }

    .sub-menu li:hover > a {
      opacity: 1;
    }

    .menu > li {
      color: $sm-light-primary;

      &:hover {
        color: $sm-dark-primary;

        > a {
          transition: color .2s .1s ease-out;
        }
      }

      > a {
        position: relative;
        padding-left: 1.5em;
        padding-right: 1.5em;

        color: inherit;
        transition: color .2s .2s ease-out;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: -.5rem;
          left: 0;
          z-index: -1;
          background-color: #fff;
          transition: transform 0.4s $easeInBack;
          transform-origin: 50% 100%;
          transform: scale(1, 0) rotate(0);
        }
      }

      @for $i from 1 through 20 {
        &:nth-child(#{$i}):hover > a:before {
          $rotation: (random(6) - 3) * 1deg;
          transform: scale(1, 1) rotate($rotation);
          transition: transform .3s $easeOutBack;
        }
      }
    }
  }
}

.c-navbar__zone--left,
.c-navbar__zone--right {
  display: flex;
  justify-content: flex-end;

  @include leading-map($header-font);
}

.site-logo img,
.custom-logo-link img {
  width: auto;

  .blog & {
    max-height: none;

    @include below(lap) {
      max-height: 20vw;
    }
  }
}

.c-branding {
  a, img {
    display: block;
  }
}

.c-navbar__zone--right {

  @include above(lap) {
    background: none;

    .menu[class] > li {
      color: inherit;
    }

    a {
      opacity: 0.6;
      font-size: 93.75%;

      transition: opacity $transition--micro ease;

      &:hover {
        opacity: initial;
      }
    }
  }

  .menu-item-has-children {
    > a {
      &:after {
        content: "";
        padding-left: 0;
      }
    }
  }
}

@include above(lap) {

  .c-navbar__zone {

    .menu,
    .sub-menu {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: flex-end;
    }

    .sub-menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      margin-top: 0;
      justify-content: flex-end;

      opacity: 0;
      pointer-events: none;
    }
  }

  .c-navbar__content,
  .c-navbar__shadow {
    display: none;
  }
}

@include below(lap) {

  .c-navbar__zone--left,
  .c-navbar__zone--right {
    display: none;

    .c-navbar__content & {
      display: block;
    }
  }

  $mobile-header-height: 62px;

  .c-navbar__content {
    position: fixed;
    top: 0;
    left: 100%;
    bottom: 0;
    z-index: 300;

    padding-top: $mobile-header-height;

    width: 70%;

    background: $sm-dark-primary;
    transition: transform $transition-duration $transition-easing;

    .menu-item-has-children:hover,
    .c-navbar__zone--left .sub-menu {
      background: none;
    }

    .menu-item-has-children {

      > .sub-menu {
        display: none;
        margin-top: 0;
        background: rgba(0,0,0,0.2);
      }

      &.hover {

        > a:after {
          content: "-";
        }

        > .sub-menu {
          display: block;
        }
      }
    }

    .c-navbar__checkbox:checked ~ & {
      transform: translateX(-100%);
    }
  }

  .c-navbar__label {
    position: fixed;
    right: 0;
    z-index: 310;

    background: $sm-dark-primary;
    color: $sm-light-primary;
  }

  .c-navbar__zone--left {
    .menu > li {
      color: $sm-light-primary;
    }
  }
}

.c-navbar__label {
  @include wp-offset(top, 0);
}

.c-navbar__shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 290;

  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity $transition-duration $transition-easing;

  .c-navbar__checkbox:checked ~ & {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 600px) {

  .c-navbar__label[class] {
    position: static;
    padding-top: 0;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
  }
}

.c-navbar__checkbox {
  display: none;
}

.c-navbar__label {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  cursor: pointer;

  @include above(lap) {
    display: none;
  }
}

.c-navbar__content {
  @include wp-offset();
}

.jetpack-social-navigation .screen-reader-text {
  width: auto;
  height: auto;
  position: static !important;
  text-transform: capitalize;
  clip: auto;
  clip-path: none;
  margin: 0;
}
