@include above(desk) {
    // Image Alignment
    // via _wp-align.scss

    // Images at the same level with paragraphs
    // <p>..</p>
    // <img>
    // <p>..</p>
    .content-area {

        > .alignleft {
            margin-right: 0;
        }

        > .alignright {
            margin-left: 0;
        }

        > .aligncenter,
        > .alignnone {
            grid-column: ms / me;
        }

        > .gallery,
        > .jetpack-slideshow {
            grid-column: ms / me;
        }

    }
}

@include above(lap) {
    .wp-caption.aligncenter {
        grid-column: edge-start / me;

        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;

        margin-left: 0;
        margin-right: 0;

        > .wp-caption-text {
            flex-basis: calc(#{percentage(2/15)} - #{(8/15) * 1rem});
            flex-shrink: 0;

            border-left: 0;
            padding-left: 0;

            border-right: 2px solid currentColor;
            padding-right: 1.25rem;
            margin-right: 1.25rem;

            text-align: right;
        }

        > img {
            width: calc(#{percentage(12/15)} + #{(8/15) * 1rem});
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.wp-caption {
    width: auto !important;
    max-width: 100%;
}

.wp-caption-text {
    border-left: 2px solid currentColor;
    padding-left: 1.25rem;
}

.wp-caption-text,
figcaption {
    font-size: 0.7225em;
    line-height: 1.5;
}

figcaption {
    .aligncenter & {
        text-align: center;
    }
}

.alignleft[class],
.alignright[class] {
    margin-top: 0;
    grid-row-end: span 3;
}

.alignleft[class] {
    grid-column: edge-start / cso;
    max-width: 100%;
}

.alignright[class] {
    grid-column: ceo/edge-end;
    max-width: 100%;
    margin-left: 0;
}

.gallery-caption {
    @include leading-map($wp-align-caption-font);
}

//.content-area > p {
//
//    .alignleft {
//        display: block;
//        float: none;
//        margin-right: auto;
//    }
//
//    .alignright {
//        display: block;
//        float: none;
//        margin-left: auto;
//    }
//
//    .alignnone {
//        margin-top: 0;
//        margin-bottom: 0;
//    }
//}



// CUSTOM THEME STYLES
// ========================================
img {
    &.branded {
        border-radius: 35%;
    }
}
