@mixin meta-style {
    display: inline-block;
    padding: 0.5rem 2rem;
    transition: opacity .3s ease-in-out;

    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-bottom-left-radius: 999em;
        border-top-right-radius: 999em;

        overflow: hidden;
        background: linear-gradient( to right, $theme-accent-light-color 50%, transparent);
        z-index: -1;
    }
}

@mixin btn-overwrite() {
    position: relative;
    color: inherit;

    &:before {
        content: "";
        position: absolute;
        top: 6px;
        right: 6px;
        bottom: 6px;
        left: 0;
        z-index: -1;

        background: $theme-accent-light-color;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid currentColor;
    }

    .u-buttons-outline & {
        border: 0;
    }
}