@mixin meta-style {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0;
    transition: opacity .3s ease-in-out;
    opacity: 0.4;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-bottom-left-radius: 999em;
        border-top-right-radius: 999em;

        overflow: hidden;
        background: linear-gradient( to right, currentColor 50%, transparent);
        z-index: -1;
    }
}

@mixin btn-overwrite() {
    position: relative;
    color: inherit;

    &:before {
        content: "";
        position: absolute;
        top: 7px;
        right: 7px;
        bottom: 7px;
        left: 0;
        z-index: -1;

        background: $theme-accent-light-color;
        opacity: 0.4;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid currentColor;
    }

    .u-buttons-outline & {
        border: 0;
    }
}

@mixin btn-overwrite-hover() {
    &:before {
        left: -16px;
        transition: transform $transition-duration $transition-easing;
        transform-origin: 0 50%;
        transform: scale(0,1) translateZ(0);
    }

    &:hover:before {
        transform: scale(1,1) translateZ(0);
    }
}