// ----------------------------------------
// GENERAL SETTINGS
// ========================================
$breakpoints: (
  xsmall:   30em,   // ~ 480px
  small:    42.5em, // ~ 680px
  pad:      50em,   // ~ 800px
  lap:      62.5em, // ~ 1000px
  desk:     80em    // ~ 1280px
);

$transition--default: all 0.3s ease;
$transition--micro: 0.15s;
$transition--macro: 0.4s;

// Layout
// ----------------------------------------
$sidebar-width: 300px;
$layout-side-width: 300px;
$layout-spacing: 4rem;
$baseline-unit: 14px;
$fa-font-path: 'assets/fonts/fontawesome';

$content-selector: '.content-area > :not([class*="align"]):not([class*="gallery"]):not(blockquote)';

// Burger Menu
$burger-width: 19px;
$burger-height: 14px;
$burger-line-width: $burger-width;
$burger-line-height: 2px;

// Style Manager
// ----------------------------------------
// Colors
$sm-color-primary   : #E87474;
$sm-color-secondary : #E79696;
$sm-color-tertiary  : #FCD9D2;
$sm-light-quaternary: #FFEA80; // Bright Yellow

$sm-dark-primary    : #49494B;
$sm-dark-secondary  : #34394B; // Blueish
$sm-dark-tertiary   : #34394B;

$sm-light-primary    : #FFFFFF; // White
$sm-light-secondary  : #FFF4F4; // Light Pink
$sm-light-tertiary   : #FFF5C1; // Light Yellow


// Variation Variables
$theme-color-1: #E79696; // primary
$theme-color-2: #FCD9D2; // secondary
$theme-color-3: #FFF4F4; // light
$theme-color-4: #34394B; // dark
$theme-color-5: #49494B; // dark secondary

$theme-accent-color: #E79696;
$theme-accent-light-color: #FCD9D2;
$theme-accent-lighter-color: #FFF4F4;

$theme-border-lighter-color: #394059;

$theme-text-color: #49494B;
$theme-border-color: #34394B;
$theme-background-color: #FFFFFF;

// Typography
// ----------------------------------------
$theme-body-font-family: 'IBM Plex Sans', serif;
$theme-body-font-family-alt: 'IBM Plex Sans', sans-serif;
$theme-headings-font-family: 'IBM Plex Sans', serif;
$theme-logo-font-family: 'Playfair Display', serif;

$typography-table-cell-padding: 0.8em;

// ----------------------------------------
// BUTTONS
// ========================================
$btn-padding: 0.825em 2.5em;
$btn-padding: 16px 2.5em;
$btn-font: (
  font-family: $theme-headings-font-family,
  font-size: 16px,
  line-heigh: 1.2
);
// ----------------------------------------
// HEADER
// ========================================
// Layout
// ----------------------------------------
$logo-height: 140px;
$logo-mobile-height: 30px;
$header-height: 53px;
$header-mobile-height: 60px;
$header-links-spacing: 56px;
$header-sides-spacing: 0;
// ----------------------------------------
// Colors
// ----------------------------------------
$header-links-color: $theme-text-color;
$header-links-active-color: $theme-text-color;
$header-background-color: $theme-accent-light-color;

$header-sticky-links-color: $theme-text-color;
$header-sticky-links-active-color: $theme-text-color;
$header-sticky-background-color: $theme-background-color;
// ----------------------------------------
// Fonts
// ----------------------------------------
$logo-font: (
  font-family: $theme-logo-font-family,
  font-size: 140px,
  line-height: 1,
  font-weight: 700,
  text-transform: none,
  cap-height: 0.74
);

$header-font: (
  font-family: $theme-body-font-family-alt,
  font-size: 16px,
  font-weight: normal,
  line-height: 1,
  letter-spacing: 0.06em,
  text-transform: uppercase
);
// ----------------------------------------



// ----------------------------------------
// CONTENT
// ========================================
// Layout
// ----------------------------------------
$content-container-width: 1300px;
$content-sides-spacing: 0;
$content-vertical-spacing: 0;
$content-width: 660px;
$content-border-width: 0;
$content-border-color: transparent;
// ----------------------------------------
// Colors
// ----------------------------------------
$page-title-color: $theme-text-color;
$body-text-color: $theme-text-color;
$body-link-color: $theme-text-color;
$body-link-active-color: $theme-text-color;
$body-link-highlight-color: $theme-accent-light-color;
$h1-color: $theme-text-color;
$h2-color: $theme-text-color;
$h3-color: $theme-text-color;
$h4-color: $theme-text-color;
$h5-color: $theme-text-color;
$h6-color: $theme-text-color;
$content-background-color: $theme-background-color;
// ----------------------------------------
// Fonts
// ----------------------------------------
$page-title-font: (
  font-family: $theme-headings-font-family,
  font-size: 72px,
  line-height: 1.2,
  font-weight: 700,
  cap-height: 0.75,
  spacing-top: 1rem,
  spacing-bottom: 1rem
);

$body-font: (
  font-family: $theme-body-font-family,
  font-size: 17px,
  line-height: 1.6,
);

$blockquote-font: (
  font-family: $theme-headings-font-family,
  font-size: 28px,
  line-height: 1.2,
  font-weight: 700,
  spacing-top: 0
);

$cite-font: (
  font-family: $theme-body-font-family,
  font-size: 14px,
  line-height: 1.2,
  font-weight: normal,
  letter-spacing: 0.15em,
  text-transform: uppercase
);

$typography-intro-font: (
  font-size: 24px,
  line-height: 1.5
);

$typography-intro-large-font: (
  font-size: 36px,
  line-height: (50/36)
);

$meta-title-font: (
  font-family: map-get($header-font, font-family),
  font-size: 14px,
  line-height: (17/14),
  font-weight: 700,
  text-transform: uppercase,
  letter-spacing: 0.07em
);

$meta-category-items-font: (
  font-family: map-get($header-font, font-family),
  font-size: 12px,
  line-height: 1.25,
  font-weight: 600,
  text-transform: uppercase,
  letter-spacing: 0.083em,
);

$meta-tags-items-font: ();
/* stylelint-disable */
$h1: (
  font-family: $theme-headings-font-family,
  font-size: 44px,
  line-height: 1,
  font-weight: 700,
  spacing-top: 1.5rem,
  spacing-bottom: 2.5rem,
  cap-height: 0.75
);

$h2: (
  font-family: $theme-headings-font-family,
  font-size: 32px,
  line-height: 1.3,
  font-weight: 700,
  spacing-top: 1.5rem,
  spacing-bottom: 2.5rem,
  cap-height: 0.75
);

$h3: (
  font-family: $theme-headings-font-family,
  font-size: 24px,
  line-height: 1.3,
  font-weight: 700,
  spacing-top: 1.5rem,
  spacing-bottom: 2.5rem,
  cap-height: 0.7
);

$h4: (
  font-family: $theme-body-font-family,
  font-size: 18px,
  line-height: 1.2,
  font-weight: 700,
  spacing-top: 1.5rem,
  spacing-bottom: 2.5rem,
  cap-height: 0.7
);

$h5: (
  font-family: $theme-body-font-family-alt,
  font-size: 14px,
  line-height: 1.2,
  font-weight: normal,
  letter-spacing: 0.15em,
  text-transform: uppercase,
  spacing-top: 1.5rem,
  spacing-bottom: 2rem,
  cap-height: 0.65
);

$h6: (
  font-family: $theme-body-font-family-alt,
  font-size: 12px,
  line-height: 1.2,
  font-weight: normal,
  letter-spacing: 0.15em,
  text-transform: uppercase,
  spacing-top: 1.5rem,
  spacing-bottom: 1rem,
  cap-height: 0.55
);
/* stylelint-enable */


// ----------------------------------------
// CARD SETTINGS
// ========================================
$card-letter-color: #000;
$card-letter-hover-color: #FFF;
$card-letter-hover-opacity: 0.7;
$card-letter-font: (
  font-size: 250px,
  line-height: 1.735,
  font-weight: 300,
  text-transform: uppercase
);
// ----------------------------------------



// ----------------------------------------
// BLOG
// ========================================
// Layout
// ----------------------------------------
$blog-grid-width: 1300px;
$blog-sides-spacing: 0;
$blog-grid-layout: packed;
$blog-grid-packed-ratio: 2.275;
$blog-grid-aspect-ratio: 3/4;
$blog-grid-columns: 4;
$blog-grid-vertical-spacing: 150px;
$blog-grid-horizontal-spacing: 40px;
$blog-content-position: below;
$blog-content-alignment: top left;
$blog-title-visibility: true;
$blog-excerpt-visibility: true;
// ----------------------------------------
// Colors
// ----------------------------------------
$blog-card-title-color: false;
$blog-primary-meta-color: false;
$blog-secondary-meta-color: false;
$blog-thumbnail-background: $theme-accent-light-color;
$blog-thumbnail-background-opacity: 0.5;
// ----------------------------------------
// Fonts
// ----------------------------------------
$blog-card-title-font: (
  font-family: $theme-headings-font-family,
  font-size: 24px,
  line-height: 1.25,
  font-weight: 700
);

$blog-card-meta-primary-font: ();
$blog-card-meta-secondary-font: $blog-card-meta-primary-font;
// ----------------------------------------



// ----------------------------------------
// FOOTER
// ========================================
// Layout
// ----------------------------------------
$footer-top-spacing: 8rem;
$footer-bottom-spacing: 8rem;
// ----------------------------------------
// Colors
// ----------------------------------------
$footer-text-color: #757575;
$footer-links-color: #000;
$footer-background-color: #FFF;
// ----------------------------------------

$arrow-caret-svg: 'assets/images/arrow-down.svg';
$select-arrow-svg: 'assets/images/arrow-down.svg';
$checkbox-svg: 'assets/images/icon-check.svg';
$search-svg: 'assets/images/icon-search.svg';

// ----------------------------------------
// MEDIA
// ----------------------------------------
$wp-align-caption-font: (
  font-size: 17px,
  font-family: $theme-body-font-family,
  spacing-top: 1rem,
);

$gallery-spacing: 4rem;

$wp-align-image-vertical-padding: 3.5rem;
$wp-align-image-horizontal-padding: 4rem;

$wp-align-wrapped-image-vertical-padding: 2.5rem;
$wp-align-wrapped-image-horizontal-padding: 3rem;

$wp-align-image-size: 100%;

// ----------------------------------------
// FORMS
// ----------------------------------------
$checkbox-color: $sm-dark-secondary;
$checkbox-background-color: $sm-dark-secondary;
$checkbox-width: 1.7rem;
$checkbox-height: 1.7rem;
$input-focus-border-color: $sm-color-tertiary;
$btn-default-background: #202423;
$input-disabled-background-color: #E0E0E0;
$input-disabled-border-color: #C7C7C7;
$input-border-width: 2px;
$input-border-radius: 0px;
$input-padding: 11px 17px 13px;

$input-horizontal-spacing: 0.7rem;
$input-vertical-spacing: 0.6rem;

$label-font: (
  font-size: 17px,
  line-height: 1.5,
  font-weight: 500,
  letter-spacing: 0,
  text-transform: none,
);

$input-font: (
  font-size: 17px,
  line-height: 1.5,
  font-weight: 400,
);

// ----------------------------------------
// OTHERS
// ----------------------------------------
$jetpack-sharing-spacing: 15px;
$jetpack-sharing-icon-bg: #3B3B3B;


// ----------------------------------------
// NOTO SPECIFIC SETTINGS
// ----------------------------------------

// The point where .c-noto--body starts
// Determined in Javascript and added inline
// as margin-top 
$site-content-top-spacing: 87px;