
.sharedaddy:not(.sharedaddy--official) {

    .sd-title {
        display: none;
    }

    .sd-social-icon .sd-content ul li a.sd-button.share-more {
        margin-left: 0;
    }

    .sd-content ul li a.sd-button {
        background: none;
        box-shadow: none;
    }

    .sd-sharing {
        display: flex;
    }

    .sd-content {
        position: relative;
    }

    .sharing-hidden .inner {
        left: 50% !important;
        transform: translateX(-50%);
    }

    #content &[class] .sd-social-icon .sd-content.sd-content ul li[class*=share-] a.sd-button {
        padding: 0;
        background: none;
        color: inherit !important;

        &:before {
            width: auto;
            height: auto;
            color: inherit;
        }
    }

    #content &[class] .sd-content li {
        display: block;

        &.share-end {
            display: none;
        }

        a {
            border: 0;
            padding: 0;

            &:before {
                display: block;
                font-size: 24px;
                // filter: grayscale(1) contrast(2) brightness(0.2);
            }

            span {
                display: none;
            }
        }
    }


    @include above(desk) {

        .sd-content ul li {
            margin: 10px 0 0 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    @include below(desk) {

        .sd-content {
            margin-top: 2rem;

            ul {
                display: flex;
                margin-bottom: 0 !important;

                > li + li {
                    margin-left: 1rem;
                }
            }
        }
    }
}

.sharedaddy--official {

    .sd-content ul {
        margin-bottom: 0 !important;
    }

    .sd-content li a {
        display: block;
    }

    h3.sd-title[class] {
        font: inherit;

        &:before {
            content: none;
        }
    }
}
