$introductory-paragraph: ".intro"

.single,
.page {

  .c-author {
    text-align: left;
  }

  .entry-thumbnail img {
    display: block;
  }

  @include above(lap) {

    .c-noto {
      grid-template-columns: 2rem 2rem [start] repeat(14, 1fr) [middle] repeat(14, 1fr) [end] 1fr 1fr;
    }

    .content-area {
      position: relative;
      z-index: 10;
    }
  }

  @include above(desk) {

    .site-content:before {
      bottom: 2rem;
      width: calc(#{percentage(11/30)} - (24rem/30));
    }

    .content-area {
      padding: 6rem 0 0;

      display: grid;
      grid-template-columns: [edge-start] 2fr [eso] 2fr [mso] 1fr [ms] 2fr [cso] 4rem [cs] 4rem 4em [pso] 1fr [ps] 26em [ce] 4rem [ceo] 2fr [me] 4fr [edge-end];

      > * {
        grid-column: cs / ce;
      }

      .intro {
        grid-column: cso / ce;
      }

      // Share Icons
      .sharedaddy:not(.sharedaddy--official) {
        grid-column: cso / cs;
        grid-row-end: span 3;
      }

      .header-category,
      .entry-title {
        grid-column: ms / ce;
      }
    }

    #{$content-selector} {
      margin-left: 0; 
      margin-right: 0;
      max-width: none;
    }
  }
}

.header-category {
  transform: translateZ(0);

  a {
    @include meta-style;

    &,
    &:hover,
    &:active {
      color: inherit;
    }

    .u-underlined-links & {
      text-decoration: none;
    }

    &:after {
      left: -2rem;
      right: -1rem;
    }
  }
}

@include above(desk) {

  .entry-image--portrait {

    .content-area {

      .header-stuff {
        grid-column: edge-start / pso;
        display: flex;
        flex-direction: column;
        text-align: right;
      }

      .entry-thumbnail[class] {
        margin-left: 3rem;
      }

      .entry-thumbnail {
        grid-column: ps / me;
      }
    }

    .c-header__author {
      margin-top: auto;
      grid-row-end: span 2;
    }
  }

  .entry-image--none,
  .entry-image--landscape {

    .header-stuff {
      grid-row-end: span 2;
      margin-top: auto;

      .header-category {
        margin-left: 1.5rem;
      }
    }

    .header-meta {
      grid-column-start: cso;
      margin-bottom: 3rem;
    }
  }

  .entry-image--landscape {

    .c-header__author {
      grid-column: edge-start / mso;
      grid-row: 1 / span 4;

      align-self: flex-end;
    }

    .entry-thumbnail[class][class],
    .header-stuff[class][class] {
      grid-column: ms / me;
    }
  }

  .entry-image--none {

    .c-header__author {
      grid-column: edge-start / mso;
      grid-row: 1 / span 2;

      align-self: flex-end;
    }

    .header-stuff[class][class] {
      grid-column: ms / ceo;
    }
  }
}

.entry-image--portrait {

  .c-header__author,
  .header-meta,
  .entry-thumbnail {
    margin-bottom: 3rem;
  }
}

.entry-image--none,
.entry-image--landscape {

  .c-header__author,
  .header-stuff,
  .entry-thumbnail {
    margin-bottom: 3rem;
  }
}

.header-dropcap {
  display: none;
}

.header-stuff {
  img {
    display: block;
  }
}

.header-meta {

  #primary & {
    margin-left: -1rem;

    > * {
      margin-left: 1rem;
    }
  }

  .byline {
    display: none;
  }

  .posted-on .updated:not(.published) {
      display: none;
  }

  a {

    &,
    &:hover,
    &:active {
      color: inherit;
    }

    .u-underlined-links & {
      text-decoration: none;
    }
  }
}

.cats a {
  @include btn;
  @include btn-overwrite;
  @include btn-overwrite-hover;

  margin-top: 1rem;
  margin-right: 1rem;

  &:before {
    left: -10px;
  }
}

.cats__title {
  display: none;
}

.cats,
.tags,
.sharedaddy--official {
  margin-top: 2rem;
}

.post-navigation {

  .nav-previous,
  .nav-next {
    margin-top: 2rem;

    @include below(xsmall) {
      text-align: left;
    }
  }

  .nav-links > * {
    flex-basis: 15em;
  }
}

.comments-area {
  margin-top: 3rem;
}

@include below(desk) {

  .content-area {
    padding: 3.5rem 1.3125rem;
  }

  .c-footer {
    padding: 0 1.3125rem;
  }
}

.single,
.page {
  .content-area > .related-posts-container[class] {
    max-width: none;
    grid-column: ms / end;

    // @todo: needs more styling
    display: none;
  }
}

.related-posts-container {
  &:before,
  &:after {
    content: none;
  }
}


// WOAH
// move header elements and the first intro paragraph above everything else
.header-stuff,
.entry-image--landscape .header-meta {
  order: -3;
}

.header-stuff + .intro,
.header-stuff + .entry-thumbnail,
.header-stuff + .entry-thumbnail + .intro,
.header-stuff + .entry-thumbnail + .header-meta,
.header-stuff + .entry-thumbnail + .header-meta + .intro,

// no image
.entry-image--none .header-meta,

// landscape
.header-stuff + .entry-thumbnail + .c-header__author + .header-meta + .intro {
  order: -2;
}

// also move the share icons right after the header elements
.sharedaddy:not(.sharedaddy--official) {
  order: -1;
}

// move the author box below the post meta on posts with portrait featured image
.entry-image--portrait .c-header__author {
  order: 1;
}
