.single,
.page {

  .c-author {
    text-align: left;
  }

  .entry-thumbnail img {
    display: block;
  }

  @include above(lap) {

    .c-noto {
      grid-template-columns: 2rem 2rem [start] repeat(14, 1fr) [middle] repeat(14, 1fr) [end] 1fr 1fr;
      background-color: $theme-accent-lighter-color;
      padding-bottom: 2rem;
    }

    .content-area {
      position: relative;
      z-index: 10;

      grid-column-end: -1;
      background: white;
    }
  }

  @include above(desk) {

    .site-content:before {
      bottom: 2rem;
      width: calc(#{percentage(11/30)} - (24rem/30));
    }

    .content-area {
      padding: 6rem 2rem 0;

      display: grid;
      grid-template-columns: [edge-start] 1fr [s] 2fr [ms] 2fr [cs] 4rem [cso] 5em [hs] 35em [ce] auto [me] 4rem [ceo] 2fr [end] 1fr 1fr [edge-end];

      > * {
        grid-column: cso / ce;
      }

      .gallery {
        grid-column: ms / end;
      }

      .header-category,
      .entry-title {
        grid-column: ms / ce;
      }
    }
  }
}

.header-category {
  transform: translateZ(0);

  a {
    @include meta-style;

    &:after {
      left: -2rem;
      right: -1rem;
    }
  }
}

@include above(desk) {

  .entry-image--portrait {

    .content-area {

      .header-stuff {
        grid-column: s / hs;
        display: flex;
        flex-direction: column;
        text-align: right;
      }

      .entry-thumbnail[class] {
        margin-left: 3rem;
      }

      .entry-thumbnail {
        grid-column: hs / end;
      }
    }

    .c-author {
      margin-top: auto;
      grid-row-end: span 2;
    }
  }

  .entry-image--none,
  .entry-image--landscape {

    .header-stuff {
      grid-row-end: span 2;
      margin-top: auto;
    }
  }

  .entry-image--landscape {

    .c-author {
      grid-column: s / ms;
      grid-row-end: span 2;
      align-self: flex-end;
    }

    .entry-thumbnail[class][class],
    .header-stuff[class][class] {
      grid-column: ms / end;
      margin-left: 4rem;
    }
  }

  .entry-image--none {

    .c-author {
      grid-column: s / cs;
    }

    .entry-thumbnail {
      grid-column: cs / end;
    }
  }
}

.entry-image--portrait {

  .c-author,
  .header-meta,
  .entry-thumbnail {
    margin-bottom: 3rem;
  }
}

.entry-image--none,
.entry-image--landscape {

  .c-author,
  .header-stuff,
  .entry-thumbnail {
    margin-bottom: 3rem;
  }
}

.header-dropcap {
  display: none;
}

.header-stuff {
  img {
    display: block;
  }
}

.header-category {
  a {
    text-decoration: none;
  }
}

.header-meta {
  margin-left: -1rem;

  .posted-on .updated {
      display: none;
  }

  > * {
    margin-left: 1rem;
  }

  a {
    text-decoration: none;
  }
}




.cats a {
  @include btn;
  @include btn-overwrite;
  @include btn-overwrite-hover;

  margin-top: 1rem;
  margin-right: 1rem;
}

.cats__title,
.tags__title {
  display: block;
  margin-bottom: 1rem;
}

.cats,
.tags,
.sharedaddy--official {
  margin-top: 2rem;
}

.post-navigation {

  .nav-previous,
  .nav-next {
    margin-top: 2rem;

    @include below(xsmall) {
      text-align: left;
    }
  }

  .nav-links > * {
    flex-basis: 15em;
  }
}

.comments-area {
  margin-top: 3rem;
}

@include below(desk) {

  .content-area {
    padding: 3.5rem 1.3125rem;
  }

  .c-footer {
    padding: 0 1.3125rem;
  }
}

@include above(desk) {
  #{$content-selector} {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }
}

//@include below(lap) {
//  padding-left: 0;
//  padding-right: 0;
//  margin: 0 1.3125rem;
//}

.single,
.page {
  .content-area > .related-posts-container[class] {
    max-width: none;
    grid-column: ms / end;
  }
}

.related-posts-container {
  &:before,
  &:after {
    content: none;
  }
}
