// THEME STYLES
// ========================================

h6,.h6 {
  opacity: 0.6;
}


table {
  tbody,
  tfoot,
  thead,
  tr {
    border-bottom: 0;
  }

  th,
  td {
    &:first-child {
      padding-left: $typography-table-cell-padding;
    }

    &:last-child {
      padding-right: $typography-table-cell-padding;
    }
  }
}

table,
tbody {
  > tr:nth-child(even) {

    td {
      position: relative;
    }

    td:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: #000000;
      opacity: 0.05;
      pointer-events: none;
    }
  }
}

// CUSTOM THEME STYLES
// ========================================

// Auto-styling the first paragraph
// Add .intro class through Javascript
.intro[class] {
  font-size: (28/18) * 1em;
  line-height: 1.25em;
  color: $theme-accent-color;
}

.dropcap {
  text-transform: uppercase;
  font-weight: 600;
}

.content-area {

  blockquote {
    position: relative;
    padding-left: 5rem;

    .wave-svg-mask {
      margin-left: -5rem;
    }

    .wave-svg {
      margin-bottom: 1.5rem;
    }

    &:before {
      content: open-quote;

      position: absolute;
      top: 0;
      left: 0;

      width: 5rem;
      margin-top: 1.5rem;

      font-size: 1.777em;
      line-height: 1.8;
      text-align: center;
    }

    &:after {
      content: close-quote;

      visibility: hidden;
      pointer-events: none;

      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

hr {
  margin-top: 1.5rem;
  border: 0;

  &:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  // Default <hr/> style
  &:not([class]) {
    height: 1em;
    background-image: url("template-parts/svg/separator.svg");
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: center center;
  }

  // Decorated <hr/> style
  // Noto: Waves
  &.decoration {
      // SVG added via JS
      // <div class="wave-svg-mask">
      // color: red;
  }
}

p.small {
  font-size: 87%;
}

// Brush style highlight
.highlight,
.entry-content em,
.mce-content-body em {
  padding: 0.1em 0.5em;

  border-radius: 0 1em 0 1em;
  background-image: linear-gradient( 100deg, var(--sm-light-tertiary) 80%, transparent);

  font-style: normal;
}

@if $editor-style == true {
  .mce-content-body {
    // Links
    a {
      text-decoration: underline;
    }
  }
}