.c-card__action {
  @include btn;
}

.c-card__excerpt + .c-card__footer {
  margin-top: 2rem;
}

.c-meta__primary {

  ul {
    margin-left: -2em;
    margin-right: -2em;
  }

  li {

  }

  a {
    @include meta-style;

    &:after {
      opacity: 0;
      transform: translateX(-50%);
      transition: all .3s ease-out;
      transition-property: opacity, transform;
    }
  }
}

.c-card:hover {

  .c-card__excerpt {
    color: $theme-accent-light-color;
  }

  .c-meta__primary a:after {
    transform: none;
    opacity: 1;
  }

  .c-card__action:before {
    opacity: 1;
    transform: none;
  }

  .c-card__aside {
    opacity: 1;
  }
}

.c-card__aside {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  transform: translate3d(-50%,-50%,0);

  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}

.c-card__frame {
  position: relative;

  img {
    width: auto;
    height: auto;

    max-width: 400px;
    max-height: 400px;
  }

  &:before,
  &:after {

  }

  &:before {

  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $theme-accent-light-color;
    mix-blend-mode: color;
  }
}

.c-card {
  transform: translateZ(0);
}

.c-card__letter {
  display: none;
}

.c-card:hover {

  .wave-svg-mask {
    transform: translateX(1rem);
  }

  .wave-svg {
    transform: translateX(-1rem);
  }
}


.c-card__thumbnail-background {
  background: none;
}
