@import 'header';
@import 'grid';
@import 'single';
@import 'typography';

.u-header-height-padding-top[class] {
  padding-top: 0;
}

.o-layout__side {
  display: none;
}

.u-container-width,
.u-blog-grid-width {
  &[class] {
    max-width: none;
  }
}

.u-container-sides-spacing,
.u-header-sides-spacing {
  &[class] {
    padding-left: 0;
    padding-right: 0;
  }
}

.site-content {
  display: grid;
}

.c-card {
  .c-card__content,
  .c-card__title {
    margin-top: 0;
  }

  .c-card__excerpt {
    margin-bottom: 0;
  }
}

.c-navbar__checkbox,
.site-description {
  display: none;
}

.c-branding {
  text-align: center;
}

.c-branding a {
  text-decoration: none;
}

.site-title[class] {
  font-size: 8vw;
  text-align: left;
}

.c-footer[class] {
  padding-top: 0;
  padding-bottom: 0;
}

.navigation {
  display: none;
}

.u-header-height[class] {
  height: auto;
}

.u-header-background[class] {
  background: none;
}

.c-border[class] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  grid-column: auto;
  grid-row: auto;
  margin: 0;

  pointer-events: none;

  i:after,
  i:before,
  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: $theme-border-color;
  }

  i:before {
    top: auto;
    bottom: 0;
    left: 2rem;

    width: 4rem;
    height: 4rem;
  }

  i:after {
    top: 2rem;
    left: calc(2rem + #{percentage(12/31)} - (24rem/31));
    right: 0;

    height: 4rem;
  }

  &:before {
    width: 100%;
    height: 2rem;
  }

  &:after {
    width: 2rem;
    height: 100%;
  }
}

.c-card__action {
  @include btn;
  color: inherit;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    z-index: -1;

    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid currentColor;
  }

  .u-buttons-outline & {
    border: 0;
  }
}

.c-card__excerpt + .c-card__footer {
  margin-top: 2rem;
}

.c-meta__primary {
  a {
    display: block;
    padding: 0.5em 2em;
    border-bottom-left-radius: 999em;
    border-top-right-radius: 999em;
  }
}

.c-card:hover {

  .c-card__excerpt {
    color: $theme-accent-light-color;
  }

  .c-meta__primary a {
    background: linear-gradient( to right, $theme-accent-light-color 50%, transparent);
  }

  .c-card__action:before {
    background: $theme-accent-light-color;
  }

  .c-card__aside {
    opacity: 1;
  }
}

.c-card__aside {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  transform: translate3d(-50%,-50%,0);

  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}

.c-card__frame {
  position: relative;

  img {
    width: auto;
    height: auto;

    max-width: 400px;
    max-height: 400px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $theme-accent-light-color;
    mix-blend-mode: color;
  }
}

.c-card {
  transform: translateZ(0);
}

.c-card__letter {
  display: none;
}

.wave-svg,
.wave-svg-mask {
  transition: transform .3s ease-in-out;
}

.wave-svg-mask {
  overflow: hidden;

  .wave-svg {
    width: 200%;
    display: block;
    margin-bottom: 2rem;
  }
}

.c-card:hover {

  .wave-svg-mask {
    transform: translateX(4rem);
  }

  .wave-svg {
    transform: translateX(-4rem);
  }
}
