@import 'mixins';
@import 'comments';
@import 'author';
@import 'header';
@import 'grid';
@import 'footer';
@import 'card';
@import 'single';
@import 'typography';
@import 'sharedaddy';
@import 'page-numbers';

.u-header-height-padding-top[class] {
  padding-top: 0;
}

.o-layout__side {
  display: none;
}

.u-container-width,
.u-blog-grid-width {
  &[class] {
    max-width: none;
  }
}

.site-content {
  display: grid;
}


.c-navbar__checkbox,
.site-description {
  display: none;
}

.c-branding a {
  text-decoration: none;
}

.navigation {
  grid-column: 19/span 12;
  margin-left: auto;
}

.u-header-height[class] {
  height: auto;
}

.u-header-background[class] {
  background: none;
}


.wave-svg,
.wave-svg-mask {
  transition: transform .3s ease-in-out;
}

.wave-svg-mask {
  overflow: hidden;

  .wave-svg {
    width: 200%;
    display: block;
    margin-bottom: 2rem;
  }
}


[hidden] {
  display: none;
}

[class*="gallery-columns-"] {
  justify-content: center;
}

