.c-navbar__zone {
  z-index: 100;

  nav,
  .menu-social-menu-container,
  .menu {
    height: 100%;
  }

  .menu {
    display: flex;
    align-items: stretch;

    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 0;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1em;

      color: inherit;
      text-decoration: none;
    }
  }
}

.c-navbar__zone--left {
  color: white;
}

.c-navbar__zone--left,
.c-navbar__zone--right {
  display: flex;
  justify-content: flex-end;
}
