.single,
.page {

  .c-navbar__zone--middle {
    margin-top: -2rem;
    grid-row-end: span 1;
    padding-bottom: 2rem;
  }

  .c-pierot {
    grid-template-columns: 2rem 2rem [start] repeat(14, 1fr) [middle] repeat(14, 1fr) [end] 1fr 1fr;
    padding-bottom: 2rem;

    background-color: $theme-accent-lighter-color;
  }

  .site-content:before {
    bottom: 2rem;

    // (100% - 2rem) * 12 / 32
    width: calc(#{percentage(11/30)} - (24rem/30));
  }

  .header-dropcap {
    display: none;
  }

  .content-area {
    position: relative;
    z-index: 10;
    padding-top: 6rem;
    grid-column-end: -1;
    background: white;

    display: grid;
    grid-template-columns: 1fr 1fr [s] 2fr [ms] 2fr [cs] 4rem [cso] 2fr [hs] minmax(10em, 2fr) [he] 2fr 2fr [ce] auto [me] 4rem [ceo] 2fr [e] 1fr 1fr [edge] 1fr;

    .sharedaddy {
      grid-column: 5 / 6;
      grid-row: 4 / span 3;
    }

    > * {
      grid-column: cso / ce;
    }

    .gallery {
      grid-column: ms / e;
    }

    .header-category,
    .entry-title {
      grid-column: ms / ce;
    }
  }

  .header-category a {
    @include meta-style;
  }
}

.entry-image--portrait {

  .content-area {

    .header-stuff {
      grid-column: s / hs;
      display: flex;
      flex-direction: column;
      text-align: right;
    }

    .entry-thumbnail {
      margin-left: 3rem;
      margin-bottom: 3rem;
    }

    .header-meta {
      margin-bottom: 3rem;
    }

    .entry-thumbnail {
      grid-column: hs / e;
    }

    .c-author {
      margin-top: auto;
      grid-row-end: span 2;
      margin-bottom: 3rem;
    }
  }
}

.c-author {
  text-align: right;
}

.header-stuff {
  img {
    display: block;
  }
}

.entry-image--none,
.entry-image--landscape {

  .c-author {
    margin-bottom: 2rem;
  }

  .header-stuff {
    grid-row-end: span 2;
    margin-top: auto;
    margin-bottom: 2rem;
  }
}

.entry-image--landscape {

  .c-author {
    grid-column: s / ms;
    grid-row-end: span 2;
    align-self: flex-end;
  }

  .entry-thumbnail,
  .header-stuff {
    grid-column: ms / e;
    margin-left: 4rem;
  }

  .entry-thumbnail {
    margin-bottom: 2rem;
  }
}

.entry-image--none {

  .c-author {
    grid-column: s / cs;
  }

  .entry-thumbnail {
    grid-column: cs / e;
  }
}

.header-category {
  a {
    text-decoration: none;
  }
}

.cats,
.tags {
  margin-top: 2rem;
}

.entry-footer,
.comments-area {
  margin-top: 4rem;
}

.header-meta {
  margin-left: -1rem;

  .posted-on .updated {
      display: none;
  }

  > * {
    margin-left: 1rem;
  }

  a {
    text-decoration: none;
  }
}

.wp-caption.alignleft,
.wp-caption.alignright {
  margin-top: 0;
  grid-row-end: span 3;
}

.wp-caption.alignleft {
  grid-column: s/cs;
  max-width: 100%;
}

.wp-caption.alignright {
  grid-column: ceo/edge;
  max-width: 100%;
  margin-left: 0;
}

.content-area > p {

  .alignleft {
    display: block;
    float: none;
    margin-right: auto;
  }

  .alignright {
    display: block;
    float: none;
    margin-left: auto;
  }

  .alignnone {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.sharedaddy {

  .sd-sharing {
    display: flex;
  }

  #content &[class] .sd-content li {
    display: block;

    a {
      border: 0;
      padding: 0;

      &:before {
        display: block;
        font-size: 24px;
        filter: grayscale(1) contrast(2) brightness(0.2);
      }

      span {
        display: none;
      }
    }
  }
}